/* (yıldız karakteri bütün selectorleri değiştirir.)
* {
    border: 1px solid blue;
} */

/* p {
    border: 1px solid blue;
} */

/*(div içindeki p etiketlerini alır.)
 div p {
    border: 1px solid blue;
} */

/* (iki blok etiket arasında virgül varsa iki etiketi de alır.)
 div, p{
    border: 1px solid blue;
} */

/* (üst etiketi div olan p ler) 
div > p {
    border: 1px solid blue;
} */

